h1 {
    position: absolute;
    left: 20%;
    top:5%;
    background-color: yellow;
}

p1 {
    font-size: 18px;
    position: absolute;
    left: 43%;
    top: 37%;
    right: 30%;
}

p2 {
    font-size: 18px;
    position: absolute;
    left: 43%;
    right: 30%;
    top: 70%;
}

p3 {
    font-size: 18px;
    position: absolute;
    left: 43%;
    right: 30%;
    top: 120%;
}

ul {
    font-size: 16px;
    position: fixed;
    top: 30%;
    margin: 8px;
}
